:root {
  --dark-color: #2c3e50;
  --font-dark-color: #fff;
  --green-color: #17bd57;
  --font-green-color: #fff;
  --red-color: #c42a2a;
  --font-red-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-color);
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  text-align: center;
  margin-top: 60px;
}

.team-container {
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.team-list {
  display: flex;
  gap: 1rem;
  padding: 0 0 1rem 0;
  overflow-x: auto;
}

.team-card {
  width: 200px;
  height: 100%;
  border-radius: 0.5rem;
  border: 2px solid var(--dark-color);
  padding: 0.8rem 1rem;
}

.team-card__pokemon-name {
  text-transform: capitalize;
  font-weight: bold;
}

.team-card__button-panel {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.table-container {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  justify-content: center;
  gap: 0.2rem;
}

.pokemon-list__item-link {
  display: block;
  padding: 0.8rem 0;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  font-weight: bold;
}

.pokemon-list__item-link:hover {
  background-color: var(--dark-color);
  color: var(--font-dark-color);
  border-radius: 0.5rem;
}

.pokemon-list__item-link:hover .pokemon-list__item-name {
  color: var(--font-dark-color);
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.pagination__item {
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.pagination__item.is-active {
  border-color: var(--dark-color);
}

.pagination__item:hover {
  background-color: var(--dark-color);
  color: var(--font-dark-color);
}

.details-card__title {
  text-transform: capitalize;
}

.details-card__data-list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 1rem;
}

.button {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 2px solid var(--dark-color);
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
}

.button:hover {
  background-color: var(--dark-color);
  color: var(--font-dark-color);
}

.button--green {
  background-color: var(--green-color);
  color: var(--font-green-color);
}

.button--red {
  background-color: var(--red-color);
  color: var(--font-red-color);
}
